.homepage-button {
    padding-top: 10px;
}

.container {
    max-width: 50%;
}

.inner-container {
    margin: 30px 100px;
    padding-left: 30px;
    text-align: left;
}

.inner-container label:nth-child(2) {
    text-align: right;
}

.second-container-label {
    margin-top: 30px;
}

.iframe-container {
    margin: 0px -30px;
    display: none;
}

button[name="home-button"] {
    margin-right: 4px;
}

button[name="quiz-button"] {
    margin-left: 4px;
}